* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 100px;
    background-color:  grey;
}

.buttonsPanel1,
.buttonsPanel2 {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    padding-top: 35px;
    margin: 0 auto;
}

.buttonsPanel2 {
    display: none;
    margin: 0 auto;
}

.btn-group,
.btnClass button {
    display: flex;
    border-radius: 5px;
    margin: 0 1%;
}
.btnClass{
    padding: 0;
}
.btn-group button,
.btnClass button {
    background-color: gainsboro;
    color: black;
    padding: 1%;
    cursor: pointer;
    border: none;
    width: 35px;
    height: 35px;
    align-items: center;

}

i {
    margin: 0 auto;
}

.btn-group button:last-child {
    border-radius: 0 5px 5px 0;
}

.btn-group button:first-child {
    border-radius: 5px 0 0 5px;
}


.btn-group button:hover,
.btnItem:hover {
    animation-duration: 4s;
    transform: scale(1.05);
}


.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tahoma {
    font-family: Tahoma;
}

.timesNewRoman {
    font-family: 'Times New Roman';
}

.verdana {
    font-family: Verdana;
}

.size12 {
    font-size: 12px;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size22 {
    font-size: 22px;
}

.size25 {
    font-size: 25px;
}

.size30 {
    font-size: 30px;
}


.fontStyle,
.fontSize {
    position: relative;
}

.fontStyleBurger,
.fontSizeBurger {
    width: 35px;
    height: 35px;
}

.fontStyleBurger span,
.fontSizeBurger span {
    position: absolute;
    background-color: gainsboro;
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    left: 0;
    text-align: center;
    font-weight: bold;
    top: 0;
}

.fontSizeBurger span {
    border-radius: 0;
}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
}


.fontStyleMenu,
.fontSizeMenu {
    background-color: gainsboro;
    position: absolute;
    top: -1000%;
    width: 100%;
    left: -70%;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
 .fontSizeMenu{
    left: -50%;
} 

.fontStyleMenu.active,
.fontSizeMenu.active {
    top: 37px;
}

.fontStyleList li,
.fontSizeList li {
    list-style: none;
padding-left: 5px;
}

.fontStyleList,
.fontSizeList {
    margin:0;
}


.fontStyleLink,
.fontSizeLink {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.fontStyleList>li:hover,
.fontSizeList>li:hover {
    background-color: lightgrey;
}

.fontStyleLink {
    font-size: 14px;
}

main {
    height: calc(100vh - 100px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content2 {
    display: none;
    padding-top: 1%;

}
.content1 {
margin: 0 5%;
padding-top: 1%;
}

a, a:focus, a:hover{
    text-decoration: none;
    color: black;
}
a:focus{
    color: black;
    text-decoration: none;

}
.modal-dialog{
    width: 29%;
    margin: 3% auto;
}
.modal-backdrop.in {
 z-index: 1;
}


.popupMain, .popupColors, .popupImages, .popupFiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
}
.imageBox{
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 45px;
    background-position: 100% 100%;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
}
#modalBackground .modal-content{
    padding: 2% 3%;
  
}
.tab-content {
    padding: 2%;
}

.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
  .file-input-label {
      padding: 0px 10px;
      display: table-cell;
      vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }


  .invalid{
      border: 1px solid red;
  }
  #registration .modal-title{
      text-align: center;
  }
  #registration input{
      border-radius: 5px;
      width: 100%;
      height: 35px;
  }
.invalid-feedback{
    font-size: 12px;
    color: red;
}

textarea{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    margin-top: -2%;
    padding: 0 2%;
}
#buildTable>.modal-dialog{
    width: 50%;
}
.rowButtons{
    display: flex;
    justify-content: space-between;
}
.rowButtons:first-child{
    margin-right: 15px;
}